<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="fs-3 mb-4 text-center fw-bold">{{ 'auth.signout.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'auth.signout.read' | translate"></p>

    </div>

    <!-- <div class="buttons mx-auto text-center d-grid">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/">
            {{ 'notfound.prev' | translate }}
        </button>
    </div> -->
</div>